body {
	width: 100%;
	background-color: red;
	z-index: -3;
	background: url("assets/images/cheap_diagonal_fabric.png") repeat right top;
}

.container {
	margin: 0 auto;
	width: 960px;
}


.header {
	float: left;
	background: #4aaaa5;
	color: white;
	font-size: 30px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	padding: 25px;
	width: 175px;
	text-align: center;
}

h1 {
	display: inline;
	text-align: center;
}

.box1{
	float: left;
	background-color: white;
	height: 80px;
	width: 400px;
}

.nav {
	background-color: white;
}

.nav ul li {

	float: left;
	background-color: white;
	color: gray;
	font-family: arial;
	font-size: 14px;
	padding: 33px;
	display: inline-block;

}

.box2{

	margin: 0 auto;
	width: 960px;
	background-color: black;
	margin: 0 auto;
	height: 600px;
}

.about {
	float: left;
	background-color: white;
	width: 650px;
	height: 420px;
	margin: 50px 20px 50px 0;
	text-align: center;

}

h2 {
	color: #4aaaa5;
	font-size: 30px;
	padding: 40px;
	text-align: left;
}

hr {
	margin: 5px 40px;
	color: gray;
}

p {
	font-family: arial;
	font-color: gray;
	text-align: left;
	padding: 10px;
	margin: 0 30px 0 30px;
}

.profile{
	padding: 40px;
	float: left;
}

.contact {
	float: left;
	background-color: white;
	width: 270px;
	height: 180px;
	margin: 50px 0px 50px 20px;
}

h3 {
	color: #4aaaa5;
	font-size: 22px;
	padding: 20px 0 0 0;
	text-align: center;
}




footer {
	clear: both;
	background-color: #666666;
	border-top-color: #4aaaa5;
	color: lightgray;
	text-align: center;
	padding: 25px;
}